.pane1 {
  -fx-app-background: white;
  -fx-background-insets: 20 10 15 80;
  -fx-background-color: -fx-app-background;
  -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 15);
}


.button{
    -fx-text-fill: white;
    -fx-background-color: #FF0000;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}
.button: hover{
    -fx-border-color: snow;
}

.tab-pane *.tab-header-area *.tab-header-background {
  -fx-background-color:transparent;
}

.tab-pane {
  -fx-tab-min-width:100px;
  -fx-tab-max-width:100px;
  -fx-tab-min-height:30px;
  -fx-tab-max-height:30px;
}

.tab {
  -fx-font-family: Arial;
  -fx-font-size: 14;
  -fx-background-color:cornsilk;
}

.tab:selected {
    -fx-background-color: #FF0000;
}

.tab:hover{
    -fx-background-color: snow;
}

.text-field:hover{
    -fx-border-color: red;
}

.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

.table-view {
    -fx-background-color: white;
}

.table-view .column-header-background {
    -fx-background-color: #F0F0F0;
}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: #FF0000;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #F8F8F8;
}

.table-view .table-row-cell:selected {
    -fx-background-color: red;
    -fx-text-fill: white;
}


.combo-box-base:hover{
    -fx-border-color: red;
}

.combo-box .list-view{
    -fx-border-width: 0.5px;
    -fx-border-color: red;
    -fx-padding: 0.3px;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
}

.menu-button .list-view{
    -fx-border-width: 0.5px;
    -fx-border-color: red;
    -fx-padding: 0.3px;
    -fx-border-radius: 10px 10px 0px 0px;
    -fx-background-radius: 10px 10px 0px 0px;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-button:hover{
    -fx-border-color: red;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: snow;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: red; /* 5 */
}
.list-cell {
    -fx-text-fill: red;
    -fx-font-weight: bold;/* 5 */
 }
.list-cell:odd {
    -fx-background-color: snow; /* 1 */
 }
.list-cell:even {
    -fx-background-color: snow; /* for information */
}
.list-cell:filled:hover {
    -fx-background-color: snow; /* 2 */
    -fx-text-fill: red; /* 5 */
    -fx-font-weight: bold;
}